<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mine.demo.mybatisplus.mapper.DataPrivilegeMapper" >

  <select id="getDataPrivileges" resultType="com.mine.demo.mybatisplus.privilege.DataPrivilegeVO" >
    SELECT
      id,privilege_name, privilege_sql,(
        SELECT group_concat(DISTINCT res_code)
        FROM data_privilege_dtl b where a.id=b.privilege_id) useResCodeList
    FROM data_privilege a
    WHERE status=1
  </select>
</mapper>