<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.demo.mybatisplus.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.mine.demo.mybatisplus.entity.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, role_name, enable_flag, remarks
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    id,role_name
    FROM role
    WHERE id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectOne" resultType="com.mine.demo.mybatisplus.vo.RoleVO" parameterType="java.lang.Integer" >
    SELECT
    id,role_name,enable_flag
    FROM role
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
</mapper>